ion-list {
    padding: 0;
    margin-top: 10px;
}

p {
    color: var(--ion-color-medium)!important;
    margin-top: 5px;
}

ion-icon {
    color: var(--ion-color-primary)!important;
}

.avatar {
    width: 25%;
}

h2 {
    font-size: 1.1em;
}